body {
	font-size: 9pt;
	line-height: normal;
	SCROLLBAR-FACE-COLOR: #E5E1E1;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #E5E1E1;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #d2d2d2;
	SCROLLBAR-DARKSHADOW-COLOR: #000000;
	color: #000000;
}
td {
	font-size: 9pt;
	line-height: 18px;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-style: normal;


}

.title {
	font-size: 14px;
	word-spacing: normal;
	letter-spacing: normal;
	color: #525252;
	font-weight: bolder;
	font-family: "ו";
	line-height: 25px;
	}
.tit {
	font-family: "ו";
	font-size: 14px;
	color: #000000;
	line-height: 24px;
	font-weight: bold;
	}
.down {
	font-size: 9pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	}
.pop {
	font-size: 9pt;
}
.leftline {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.Tbg {
	background-image: url(../image/title.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.word {
	font-size: 12px;
	line-height: 22pt;
	color: 676668;


}
.word0 {
	font-size: 12px;
	font-weight: normal;
	color: #676668;
	font-family: "ו";
	line-height: 20px;
}
.menu {font-family: "Arial","verdana",  "Helvetica"; font-size: 12px; color: #ffffff; filter: DropShadow(Color=#737273, OffX=1, OffY=1); line-height: 12pt;}

}
.qq {
	font-size: 14px;
	font-weight: bold;
	color: #000099;
	line-height: 22px;
}
.aa {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
}
.bk {
	background-attachment: fixed;
	background-image: url(bk.gif);
	background-repeat: repeat-y;
	background-position: right top;
}


#cpinfo A {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 85px; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #666 1px solid; BACKGROUND-COLOR: #2960c4
}
#cpinfo A:hover {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 85px; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #666 1px solid; BACKGROUND-COLOR: #03ade1
}

.r2{width:80px;height:80px;background:red;float:right;   
     position:fixed !important; top/**/:300px;   
     position:absolute; z-index:400; top:expression(offsetParent.scrollTop+300);right:20px;}

.nav {
	MARGIN: 6px auto; WIDTH: 1000px; HEIGHT: 32px; BACKGROUND-COLOR: #002d82
}
.nav_left {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; WIDTH: 221px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 28px; TEXT-ALIGN: center
}
.nav_right {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 1000px; COLOR: #ffffff; LINE-HEIGHT: 30px; PADDING-TOP: 2px; HEIGHT: 30px
}