



		<style type="text/css">
			<!--
			.STYLE2 {color: #000000}
			.STYLE3 {color: #FFFFFF}
			-->
		</style>

		<table width="1004" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  background="{xiao:$site_template}images/bot_bg.jpg">
			<tr>
				<td bgcolor="#D2D2D2" height="2"></td>
			</tr>
			<tr>
				<td height="68"  align="center" style="line-height:150%;">{xiao:$site_name} &copy;版权所有
					<br />
					<!--手机：18954521796,18963087981 联系人：侯经理 <br>-->
					公司产品：<a href="http://{xiao:$site_name}">木工雕刻机</a>、广告雕刻机、石材雕刻机、<a href="http://{xiao:$site_name}">济南雕刻机</a>、数控雕刻机、三维立体雕刻机，为您提供雕刻机价格、雕刻机报价<br><a href="http://www.miibeian.gov.cn/" rel="nofollow">鲁ICP备17034584号-1</a></td>
			</tr>
		</table>
		{xiao:block 6}
		
		</BODY></HTML>
		<script language="javascript" src="{xiao:$site_template}jqqonline/jqqonline.js"></script>